In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
import re
regex = re.compile(r"\[|\]|<", re.IGNORECASE)
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn

In [9]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
sample=pd.read_csv('sample_submission.csv')

In [10]:
sample.head()

   enrollee_id  target
0        16548       0
1        12036       0
2        11061       0
3         5032       0
4        17599       0

In [11]:
#target=train.pop('target')
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18359 entries, 0 to 18358
Data columns (total 14 columns):
enrollee_id               18359 non-null int64
city                      18359 non-null object
city_development_index    18359 non-null float64
gender                    14261 non-null object
relevent_experience       18359 non-null object
enrolled_university       18017 non-null object
enrolled_university.1     17902 non-null object
major_discipline          15521 non-null object
experience                18300 non-null object
company_size              13580 non-null object
company_type              13320 non-null object
last_new_job              17992 non-null object
training_hours            18359 non-null int64
target                    18359 non-null int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15021 entries, 0 to 15020
Data columns (total 13 columns):
enrollee_id               15021 non-null int64
city                      15021 non-null object
city_development_index    15021 non-null float64
gender                    11633 non-null object
relevent_experience       15021 non-null object
enrolled_university       14742 non-null object
enrolled_university.1     14626 non-null object
major_discipline          12628 non-null object
experience                14977 non-null object
company_size              10970 non-null object
company_type              10691 non-null object
last_new_job              14717 non-null object
training_hours            15021 non-null int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.5+ MB

In [12]:
train.target.value_counts()

0    15934
1     2425
Name: target, dtype: int64

In [13]:
train['train']=1
test['train']=0
combined = pd.concat([train, test])

In [14]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33380 entries, 0 to 15020
Data columns (total 15 columns):
city                      33380 non-null object
city_development_index    33380 non-null float64
company_size              24550 non-null object
company_type              24011 non-null object
enrolled_university       32759 non-null object
enrolled_university.1     32528 non-null object
enrollee_id               33380 non-null int64
experience                33277 non-null object
gender                    25894 non-null object
last_new_job              32709 non-null object
major_discipline          28149 non-null object
relevent_experience       33380 non-null object
target                    18359 non-null float64
train                     33380 non-null int64
training_hours            33380 non-null int64
dtypes: float64(2), int64(3), object(10)
memory usage: 4.1+ MB

In [15]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33380 entries, 0 to 15020
Data columns (total 15 columns):
city                      33380 non-null object
city_development_index    33380 non-null float64
company_size              24550 non-null object
company_type              24011 non-null object
enrolled_university       32759 non-null object
enrolled_university.1     32528 non-null object
enrollee_id               33380 non-null int64
experience                33277 non-null object
gender                    25894 non-null object
last_new_job              32709 non-null object
major_discipline          28149 non-null object
relevent_experience       33380 non-null object
target                    18359 non-null float64
train                     33380 non-null int64
training_hours            33380 non-null int64
dtypes: float64(2), int64(3), object(10)
memory usage: 4.1+ MB

In [16]:
#combined.groupby('enrolled_university')['enrollee_id'].nunique()

In [17]:
combined.enrolled_university.fillna('no_enrollment',inplace=True)

In [18]:
combined.groupby('enrolled_university.1')['enrollee_id'].nunique()

enrolled_university.1
Graduate          19512
High School        3708
Masters            7797
Phd                 881
Primary School      630
Name: enrollee_id, dtype: int64

In [19]:
combined['enrolled_university.1'].fillna('Graduate',inplace=True)
combined['gender'].fillna('Male',inplace=True)

In [20]:
combined.groupby('major_discipline')['enrollee_id'].nunique()

major_discipline
Arts                 432
Business Degree      585
Humanities          1212
No Major             387
Other                678
STEM               24855
Name: enrollee_id, dtype: int64

In [21]:
combined['major_discipline'].fillna('STEM',inplace=True)

In [22]:
combined.groupby('experience')['enrollee_id'].nunique()

experience
1       818
10     1753
11     1190
12      905
13      763
14     1080
15     1244
16      964
17      659
18      533
19      590
2      1756
20      321
3      2166
4      2240
5      2400
6      2039
7      1779
8      1423
9      1722
<1      782
>20    6150
Name: enrollee_id, dtype: int64

In [23]:
combined['experience'].fillna('>20',inplace=True)
combined.company_type.fillna('Pvt Ltd',inplace=True)

In [24]:
combined.company_size.value_counts()

50-99        5697
100-500      4845
10000+       3666
10/49        2664
1000-4999    2513
<10          2464
500-999      1639
5000-9999    1062
Name: company_size, dtype: int64

In [25]:
#combined.groupby['company_type','company_size'].size()

In [26]:
combined['last_new_job'].fillna(1,inplace=True)

In [ ]:
#train['gender']=train.apply(lambda x: 'Male' if pd.isnull(x['gender']) and x['experience']=='>20' else x['gender'],axis=1)

In [80]:
combined.info()
combined.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in combined.columns.values]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33380 entries, 0 to 15020
Data columns (total 15 columns):
city                      33380 non-null object
city_development_index    33380 non-null float64
company_size              24550 non-null object
company_type              33380 non-null object
enrolled_university       33380 non-null object
enrolled_university.1     33380 non-null object
enrollee_id               33380 non-null int64
experience                33380 non-null object
gender                    33380 non-null object
last_new_job              33380 non-null object
major_discipline          33380 non-null object
relevent_experience       33380 non-null object
target                    18359 non-null float64
train                     33380 non-null int64
training_hours            33380 non-null int64
dtypes: float64(2), int64(3), object(10)
memory usage: 4.1+ MB

In [81]:
combined['relevent_experience']=pd.factorize(combined['relevent_experience'])[0]
combined['enrolled_university']=pd.factorize(combined['enrolled_university'])[0]
combined['enrolled_university.1']=pd.factorize(combined['enrolled_university.1'])[0]
combined['major_discipline']=pd.factorize(combined['major_discipline'])[0]
combined['experience']=pd.factorize(combined['experience'])[0]
combined['last_new_job']=pd.factorize(combined['last_new_job'])[0]
combined['training_hours']=pd.factorize(combined['training_hours'])[0]
combined['gender']=pd.factorize(combined['gender'])[0]
combined['company_size']=pd.factorize(combined['company_size'])[0]
combined['company_type']=pd.factorize(combined['company_type'])[0]

In [82]:
combined.isnull().sum()

city                          0
city_development_index        0
company_size                  0
company_type                  0
enrolled_university           0
enrolled_university.1         0
enrollee_id                   0
experience                    0
gender                        0
last_new_job                  0
major_discipline              0
relevent_experience           0
target                    15021
train                         0
training_hours                0
dtype: int64

In [83]:
#combined.experience.nunique

In [84]:
#dummy_fields = ['gender','relevent_experience','enrolled_university','enrolled_university.1','major_discipline','experience','last_new_job']
#for each in dummy_fields:
#    dummies = pd.get_dummies(combined[each], prefix=each, drop_first=False)
#    combined = pd.concat([combined, dummies], axis=1)

In [85]:
combined['city']=pd.factorize(combined['city'])[0]

In [86]:
#combined.drop(dummy_fields,axis=1,inplace=True)
#combined.drop(['company_type','gender','company_size'],axis=1,inplace=True)

In [87]:
combined.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in combined.columns.values]
combined.isnull().sum()
#combined.company_type.replace(-1,0,inplace=True)
#combined.company_size.value_counts()
#combined.company_type.value_counts()

city                          0
city_development_index        0
company_size                  0
company_type                  0
enrolled_university           0
enrolled_university.1         0
enrollee_id                   0
experience                    0
gender                        0
last_new_job                  0
major_discipline              0
relevent_experience           0
target                    15021
train                         0
training_hours                0
dtype: int64

In [88]:
train_df = combined[combined["train"] == 1]
test_df = combined[combined["train"] == 0]

In [89]:
train_df.drop(["train"], axis=1, inplace=True)
train_df.drop(['enrollee_id'],axis=1, inplace=True)
test_df.drop(["train"], axis=1, inplace=True)

In [90]:
id=test_df['enrollee_id']
test_df.drop(['enrollee_id'],axis=1,inplace=True)
train_df.info()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18359 entries, 0 to 18358
Data columns (total 13 columns):
city                      18359 non-null int64
city_development_index    18359 non-null float64
company_size              18359 non-null int64
company_type              18359 non-null int64
enrolled_university       18359 non-null int64
enrolled_university.1     18359 non-null int64
experience                18359 non-null int64
gender                    18359 non-null int64
last_new_job              18359 non-null int64
major_discipline          18359 non-null int64
relevent_experience       18359 non-null int64
target                    18359 non-null float64
training_hours            18359 non-null int64
dtypes: float64(2), int64(11)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15021 entries, 0 to 15020
Data columns (total 13 columns):
city                      15021 non-null int64
city_development_index    15021 non-null float64
company_size              15021 non-null int64
company_type              15021 non-null int64
enrolled_university       15021 non-null int64
enrolled_university.1     15021 non-null int64
experience                15021 non-null int64
gender                    15021 non-null int64
last_new_job              15021 non-null int64
major_discipline          15021 non-null int64
relevent_experience       15021 non-null int64
target                    0 non-null float64
training_hours            15021 non-null int64
dtypes: float64(2), int64(11)
memory usage: 1.6 MB

In [91]:
#train_df.replace(-1, np.nan, inplace=True)
#test_df.replace(-1, np.nan, inplace=True)
train_df.info()
test_df.info()
test_df.drop(['target'],axis=1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18359 entries, 0 to 18358
Data columns (total 13 columns):
city                      18359 non-null int64
city_development_index    18359 non-null float64
company_size              18359 non-null int64
company_type              18359 non-null int64
enrolled_university       18359 non-null int64
enrolled_university.1     18359 non-null int64
experience                18359 non-null int64
gender                    18359 non-null int64
last_new_job              18359 non-null int64
major_discipline          18359 non-null int64
relevent_experience       18359 non-null int64
target                    18359 non-null float64
training_hours            18359 non-null int64
dtypes: float64(2), int64(11)
memory usage: 2.0 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15021 entries, 0 to 15020
Data columns (total 13 columns):
city                      15021 non-null int64
city_development_index    15021 non-null float64
company_size              15021 non-null int64
company_type              15021 non-null int64
enrolled_university       15021 non-null int64
enrolled_university.1     15021 non-null int64
experience                15021 non-null int64
gender                    15021 non-null int64
last_new_job              15021 non-null int64
major_discipline          15021 non-null int64
relevent_experience       15021 non-null int64
target                    0 non-null float64
training_hours            15021 non-null int64
dtypes: float64(2), int64(11)
memory usage: 1.6 MB

In [92]:
from sklearn.model_selection import train_test_split

In [93]:
x_train, x_val, y_train, y_val = train_test_split(training_features, training_target,
                                                  test_size = .1,
                                                  random_state=12)

In [94]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=12, ratio = 1.0)
x_train_res, y_train_res = sm.fit_sample(x_train, y_train)

numpy.ndarray

In [95]:
#define X train
#X = train_df
#y_train indentified at the beginning 
#y = target
#X.info()
#y

In [99]:
x_val.head()

,city,city_development_index,company_size,company_type,enrolled_university,enrolled_university.1,experience,gender,last_new_job,major_discipline,relevent_experience,training_hours
7357,7,0.920,-1,0,1,0,10,0,0,0,0,75
12984,5,0.624,0,0,0,0,0,0,6,0,0,33
9171,5,0.624,-1,0,1,2,10,0,4,0,1,20
16918,5,0.624,2,0,0,0,15,0,0,0,1,27
2516,21,0.848,0,0,0,0,2,0,5,0,0,189

In [100]:
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import xgboost as xgb
from scipy import arange
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,GradientBoostingClassifier


''''max_classifier=0
max_j=0
max_i=0
max_k=0

for i in range(3,10):
    for j in range(25,1200,25):
        for k in [0.01,0.05,0.1]:
            clf=GradientBoostingRegressor(n_estimators=j, learning_rate=k,max_depth=i)
            clf.fit(x_train_res,y_train_res)
            y_pred=clf.predict(x_val)
            print('max_depth: ',i,' n_estimators: ',j,'\n','learning rate',k)
            print(roc_auc_score(y_val, y_pred))
            if(roc_auc_score(y_val, y_pred)>max_classifier):
                max_classifier=roc_auc_score(y_val, y_pred)
                max_j=j
                max_k=k
                max_i=i
print("Max score:",max_classifier,'j:',max_j,'i',max_i,'k',max_k)

                
#print('max_depth: ',i,' n_estimators: ',j,'\n','learning rate',k,'\n')
#print(roc_auc_score(y_val, y_pred))
#print(y_pred)
            
#i-6 j-700    
#from sklearn.svm import SVC
#clf=SVC()
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=2)
#clf.fit(X_train,y_train)
#y_pred=clf.predict(X_test)
#print(roc_auc_score(y_test, y_pred))'''

'\'max_classifier=0\nmax_j=0\nmax_i=0\nmax_k=0\n\nfor i in range(3,10):\n    for j in range(25,1200,25):\n        for k in [0.01,0.05,0.1]:\n            clf=GradientBoostingRegressor(n_estimators=j, learning_rate=k,max_depth=i)\n            clf.fit(x_train_res,y_train_res)\n            y_pred=clf.predict(x_val)\n            print(\'max_depth: \',i,\' n_estimators: \',j,\'\n\',\'learning rate\',k)\n            print(roc_auc_score(y_val, y_pred))\n            if(roc_auc_score(y_val, y_pred)>max_classifier):\n                max_classifier=roc_auc_score(y_val, y_pred)\n                max_j=j\n                max_k=k\n                max_i=i\nprint("Max score:",max_classifier,\'j:\',max_j,\'i\',max_i,\'k\',max_k)\n\n                \n#print(\'max_depth: \',i,\' n_estimators: \',j,\'\n\',\'learning rate\',k,\'\n\')\n#print(roc_auc_score(y_val, y_pred))\n#print(y_pred)\n            \n#i-6 j-700    \n#from sklearn.svm import SVC\n#clf=SVC()\n#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=2)\n#clf.fit(X_train,y_train)\n#y_pred=clf.predict(X_test)\n#print(roc_auc_score(y_test, y_pred))'

In [101]:
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

'''max_classifier=[]
max_i=[]
max_j=[]

for i in range(6,7):
    for j in range(300,1200,100):
        clf=RandomForestClassifier(max_depth=i,n_estimators=j)
        clf.fit(x_train_res,y_train_res)
        y_pred=clf.predict(x_val)
        print('max_depth: ',i,' n_estimators: ',j,'\n')
        print(roc_auc_score(y_val, y_pred))
        if(roc_auc_score(y_val, y_pred)>max_classifier):
            max_classifier=roc_auc_score(y_val, y_pred)
            max_j=j
            max_k=k
            max_i=i
print("Max score:",max_classifier,'j:',max_j,'i')'''

#print(y_pred)
            
    
#from sklearn.svm import SVC
#clf=SVC()
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=2)
#clf.fit(X_train,y_train)
#y_pred=clf.predict(X_test)
#print(roc_auc_score(y_test, y_pred))

'max_classifier=[]\nmax_i=[]\nmax_j=[]\n\nfor i in range(6,7):\n    for j in range(300,1200,100):\n        clf=RandomForestClassifier(max_depth=i,n_estimators=j)\n        clf.fit(x_train_res,y_train_res)\n        y_pred=clf.predict(x_val)\n        print(\'max_depth: \',i,\' n_estimators: \',j,\'\n\')\n        print(roc_auc_score(y_val, y_pred))\n        if(roc_auc_score(y_val, y_pred)>max_classifier):\n            max_classifier=roc_auc_score(y_val, y_pred)\n            max_j=j\n            max_k=k\n            max_i=i\nprint("Max score:",max_classifier,\'j:\',max_j,\'i\')'

In [102]:
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
class AveragingModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models):
        self.models = models
        
    # we define clones of the original models to fit the data in
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        
        # Train cloned base models
        for model in self.models_:
            model.fit(X, y)

        return self
    
    #Now we do the predictions for cloned models and average them
    def predict(self, X):
        predictions = np.column_stack([
            model.predict(X) for model in self.models_
        ])
        return np.mean(predictions, axis=1)

In [108]:
LR=LogisticRegression()
RF=RandomForestRegressor(max_depth=6,n_estimators=225)
GB=GradientBoostingRegressor(n_estimators=750, learning_rate=0.02,max_depth=3)


averaged_models = AveragingModels(models = (GB, RF, LR))

averaged_models.fit(x_train_res,y_train_res)
y_pred=averaged_models.predict(x_val)
print(roc_auc_score(y_val, y_pred))

0.6707157604955265
0.6698589125946318
0.6710323468685478
0.6722539573296629
0.6701720578114247
0.6683413626978665

In [111]:
#0.5-
0.6665106675843083
0.6675533379215416
0.6660805230557467
0.6677357192016518
0.6680316586373021
0.6670130763936682


#1-
0.67055918788713
0.6706022023399862
0.6705609084652443
0.6708774948382656
0.6710512732278046
0.6709170681348933
#clf=RandomForestClassifier(max_depth=5,n_estimators=1000)
#clf=RandomForestClassifier(max_depth=3,n_estimators=1000)
#clf=LogisticRegression()
#clf=RandomForestRegressor(max_depth=3,n_estimators=)
#clf.fit(x_train_res,y_train_res)
#clf=GradientBoostingRegressor(n_estimators=750, learning_rate=0.03,max_depth=3)
averaged_models = AveragingModels(models = (GB,RF,LR))

averaged_models.fit(x_train_res,y_train_res)
#clf=GradientBoostingRegressor(n_estimators=175, learning_rate=0.01,max_depth=5)
#clf.fit(x_train_res,y_train_res)
'''importances = clf.feature_importances_
importances
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(X.shape[1]):
    print("%d. feature %d (%f)" % (f + 1, indices[f], importances[indices[f]]))

for f in range(X.shape[1]):
    print(X.columns[indices[f]],end=', ')'''

#y_pred=averaged_models.predict(test_df)
y_pred=averaged_models.predict(test_df)

In [112]:
y_pred=pd.DataFrame(y_pred)
y_pred['enrollee_id']=id
y_pred['target']=y_pred[0]
y_pred=y_pred[['enrollee_id','target']]
y_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15021 entries, 0 to 15020
Data columns (total 2 columns):
enrollee_id    15021 non-null int64
target         15021 non-null float64
dtypes: float64(1), int64(1)
memory usage: 234.8 KB

In [113]:
pd.DataFrame(y_pred).to_csv("submission.csv")